@font-face {
    src:
        local('Noto Sans Regular'),
        local('NotoSans-Regular'),
        url('../fonts/NotSans-Regular.ttf');
    font-family: 'noto sans';
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background: var(--bg);
    color: var(--fg);
    overflow-x: hidden;
    font-family: 'noto sans';
}

a {
    transition: 0.15s ease-in-out;
    color: var(--header);
    text-decoration: none;
}

a:hover {
    color: var(--fg);
}

h1, h2, h3, h4, h5, h6 {
    color: var(--header);
    margin-bottom: 1em;
}

p {
    margin-top: 1em;
    margin-bottom: 1em;
    line-height: 2em;
    text-align: justify;
    width: 60%;
}

ul > li {
    list-style-type: none;
}

hr {
    margin: 5px 0;
    border-color: var(--header);
}

.header-block {
    text-align: center;
    margin-bottom: 2em;
}

.content-con {
    padding: 0 2em;
    width: 80%;
}

.post-meta-top {
    display: flex;
    flex-direction: row;
}

.post-meta-date {
    margin-top: 0;
    margin-right: 2em;
}

.post-meta-desc {
    margin-left: 2em;
}

.post-header {
    width: fit-content;
    margin-top: 4em;
    margin-bottom: 2em;
}

.post-header * {
    margin-top: 0;
    margin-bottom: 0;
}

.post-meta {
    margin-bottom: 1em;
}

.post-metadata {
    display: flex;
    flex-direction: row;
}

.post-date {
    text-align: right;
}

.sidebar {
    position: sticky;
    top: 0;
    width: 20%;
    height: 100vh;
    padding: 4em 2em 2em 2em;
}

.sidebar-heading {
    font-weight: 200;
    font-size: 10pt;
}

.sidebar-nav-con {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.navbar-link {
    background: #000;
    color: var(--header);
    margin: 0 5px;
}

.margin-note {
    text-align: left;
    display: inline;
    float: right;
    margin-right: -60%;
    width: 50%;
}
