* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--bg);
    color: var(--fg);
    overflow-x: hidden;
}

a {
    color: var(--link);
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--header);
}

p {
    margin-top: 1em;
    line-height: 1.5em;
}

.header-block {
    text-align: center;
    margin-bottom: 2em;
}

.content-con {
    margin: 0 auto;
    width: 80%;
}

.entry-meta-top {
    display: flex;
    flex-direction: row;
}

.entry-meta-date {
    margin-top: 0;
    margin-right: 2em;
}

.entry-meta-desc {
    margin-left: 2em;
}

.entry-meta {
    margin-bottom: 30px;
}

.navbar-con {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 80%;
    list-style-type: none;
}

.navbar-link {
    background: #000;
    color: var(--header);
    margin: 0 5px;
}
